<div class="relative" *ngIf="control">
  <select
    [id]="getId()"
    [formControl]="control"
    [ngClass]="{
      'text-transparent': hideLabel
    }"
    class="
      block
      rounded-lg
      h-14
      box-border
      px-4 pb-1 pt-5
      w-full
      text-base text-neutral-950 font-normal
      appearance-none
      cursor-pointer
      border-2 
      focus:outline-none focus:border-2 
      invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500
      peer
    "
    [ngClass]="getColorClassesForSelect()"
    placeholder=" "
  >
    <!-- Default option that disables safari from auto selecting the first option -->
    <option style="display:none"></option>
    <option *ngIf="defaultValue !== null" selected></option>
    <ng-content></ng-content>
  </select>
  <label
    [for]="getId()"
    *ngIf="label"
    [class.required]="isRequired"
    [ngClass]="{'scale': control.value !== null && control.value !== '', 'text-transparent': hideLabel}"
    class="
      absolute
      text-base text-neutral-950 font-semibold
      duration-300
      transform
      translate-y-0 
      scale-100
      top-4
      left-4
      cursor-pointer pointer-events-none
      origin-[0]
      peer-focus:scale-75 peer-focus:-translate-y-3
    "
  >
    {{label}}
  </label>
  <it-icon
    class="
      absolute
      top-4
      right-4
      text-right
      pointer-events-none
    "
  >
    {{icon === null ? 'expand_more' : icon}}
  </it-icon>
</div>