:host {
    @apply bg-neutral-950 block;
    border-radius: 0.625rem;
    padding: 1rem;
    margin: 0 1.5rem;
    animation: custom-bottom-sheet-enter 0.2s ease-out !important;
}

@keyframes custom-bottom-sheet-enter {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 100;
    }
}