<div class="flex flex-col gap-4 bg-red-100 p-4 rounded-lg drop-shadow-card">
    <h4>{{ "features.room.game.card.playerVoting" | translate }}</h4>
    <p class="text-lg">{{ getCardText() }}</p>
    <it-selection-list
        [singleSelect]="true"
        [required]="true"
        *ngIf="!!results"
        #resulSelectionList
    >
        <it-accord
            [heading]="getResultsHeading()"
            icon="emoji_events"
            [selected]="true"
            (selectionEmitter)="resulSelectionList.onSelectionChanged($event)"
        >
            <!-- ToDo: Add max height and scrolling -->
            <div collapsible class="flex flex-col gap-2">
                <it-result
                    *ngFor="let result of results"
                    [result]="result"
                    [title]="getPlayerForResult(result)?.username"
                    [profilePicture]="getPlayerForResult(result)?.profilePicture"
                    [card]="card"
                    [overrideAnonymous]="!!getCastedDynamicRoundData().payToDisplayPlayerId"
                />
            </div>
        </it-accord>
        <it-accord
            [heading]="'features.room.game.game-cards.sips' | translate"
            icon="water_loss"
            *ngIf="gameSettings.drinkingGame"
            (selectionEmitter)="resulSelectionList.onSelectionChanged($event)"
        >
            <it-result
                default
                *ngIf="!!userSipResult"
                [sipResult]="userSipResult"
                [title]="getPlayerForSipResult(userSipResult)?.username"
                [profilePicture]="getPlayerForSipResult(userSipResult)?.profilePicture"
            />
            <it-result
                collapsible
                *ngFor="let result of sipResults"
                [sipResult]="result"
                [title]="getPlayerForSipResult(result)?.username"
                [profilePicture]="getPlayerForSipResult(result)?.profilePicture"
            />
        </it-accord>
    </it-selection-list>
    <div class="flex flex-row gap-4" *ngIf="isUserRoomAdmin() || displayPayToDisplay()">
        <it-button class="flex grow basis-0" color="red" type="button" *ngIf="displayPayToDisplay()" (click)="payToDisplay()">
            {{ 'features.room.game.game-cards.card-stats.player-voting-stats.pay-to-display' | translate }}
        </it-button>
        <it-button class="flex grow basis-0" color="red" type="button" *ngIf="isUserRoomAdmin()" (click)="startNextRound()">
            {{ 'actions.continue' | translate }}
        </it-button>
    </div>
</div>