<form
    [formGroup]="forgotPasswordForm"
    class="h-full flex flex-col p-6 justify-between"
    (submit)="submit()"
>
    <it-icon-button color="tertiary" size="large" (click)="close()">close</it-icon-button>
    <div class="flex flex-col gap-4">
        <h3>{{'shared.forms.forgot-password-modal.title' | translate}}</h3>
        <it-input
            id="email"
            [label]="'shared.forms.sign-in-modal.email' | translate"
            formControlName="email"
            type="email"
        />
    </div>
    <it-button 
        class="flex"
        [disabled]="!forgotPasswordForm.valid"
        type="submit"
    >
        {{'actions.submit' | translate}}
    </it-button>
</form>