<form
  [formGroup]="profileForm"
  class="flex flex-col gap-4"
>
  <h3 *ngIf="!isRegistered">{{'shared.components.forms.it-profile-editor-form.create-profile' | translate}}</h3>
  <h3 *ngIf="isRegistered">{{'shared.components.forms.it-profile-editor-form.edit-profile' | translate}}</h3>
  <it-input
    id="username"
    [label]="'shared.components.forms.it-profile-editor-form.username' | translate"
    formControlName="username"
  />
  <div class="flex flex-col gap-2">
    <p *ngIf="!isRegistered">{{'shared.components.forms.it-profile-editor-form.create-profile-picture' | translate}}</p>
    <p *ngIf="isRegistered">{{'shared.components.forms.it-profile-editor-form.update-profile-picture' | translate}}</p>
    <it-drawing-board
      (drawingChanged)="setProfilePicture($event)"
      [drawingUrl]="profileEditorFormData.profilePicture"
    />
  </div>
</form>