<form
  [formGroup]="profileForm"
  class="flex flex-col gap-4"
>
  <h3 *ngIf="!isRegistered">{{'shared.components.forms.it-profile-editor-form.create-profile' | translate}}</h3>
  <h3 *ngIf="isRegistered">{{'shared.components.forms.it-profile-editor-form.edit-profile' | translate}}</h3>
  <it-input
    id="username"
    [label]="'shared.components.forms.it-profile-editor-form.username' | translate"
    formControlName="username"
  />
  <it-drawing-board
    (drawingChanged)="setProfilePicture($event)"
    [drawingUrl]="profileEditorFormData.profilePicture"
  />
</form>