<div *ngIf="control" class="flex flex-row items-center cursor-pointer" (click)="toggleValue()">
  <input
    type="checkbox"
    [id]="getId()"
    [formControl]="control"
    class="hidden"
  />
  <div class="relative h-6 w-6">
    <it-icon
      class="absolute left-0 top-0 transition-all duration-200"
      [ngClass]="{'opacity-0': !control.value}"
      [color]="!control.disabled ? 'text-neutral-900' : 'text-neutral-800'"
    >
      check_box
    </it-icon>
    <it-icon
      class="absolute left-0 top-0 transition-all duration-200"
      [ngClass]="{'opacity-0': control.value}"
      [color]="!control.disabled ? 'text-neutral-900' : 'text-neutral-800'"
    >
      check_box_outline_blank
    </it-icon>
  </div>
  <p
    *ngIf="label !== ''" 
    class="text-neutral-950 text-sm mx-3"
  >
    {{label}}
  </p>
</div>
