<div class="flex flex-col">
  <div 
    class="flex flex-row justify-between items-center cursor-pointer"
    (click)="toggleAccord()"
  >
    <h4>{{heading}}</h4>
    <it-icon
      class="transition-all ease-out"
      [ngClass]="{
        'rotate-180': active && !!!icon
      }"
      [filled]="!!icon && !active"
    >
      {{ !!icon ? icon : 'expand_more' }}
    </it-icon>
  </div>
  <div
    #content
    id="content"
    class="
      transition-all overflow-hidden duration-700 max-h-0 ease-in-out
    "
  >
    <!-- Using div instead of padding/margin so antimation is displayed correct -->
    <div class="h-2"></div>
    <ng-content></ng-content>
  </div>
</div>