<div class="flex flex-col gap-3">
  <div class="flex flex-col gap-1 items-center">
    <!-- Div to keep image original size -->
    <div>
      <img src="assets/images/logo.png">
    </div>
    <h2>Let's get started</h2>
    <p class="text-base text-center">
      You can login or register to unlock more features or create a room and start playing immediately
    </p>
  </div>
  <it-button class="flex" size="small" color="quaternary">Login</it-button>
  <it-button class="flex" size="small" color="quaternary">Create new account</it-button>
  <it-button class="flex" size="small" color="quaternary">Create room as guest</it-button>
</div>
