<div class="flex flex-col gap-3">
  <div class="flex flex-col gap-1 items-center">
    <!-- Div to keep image original size -->
    <div>
      <img src="assets/images/logo.png">
    </div>
    <h2>{{"features.home.no-account.title" | translate}}</h2>
    <p class="text-base text-center">
      {{"features.home.no-account.description" | translate}}
    </p>
  </div>
  <it-button class="flex" size="small" color="quaternary">{{"features.home.no-account.login" | translate}}</it-button>
  <it-button class="flex" size="small" color="quaternary">{{"features.home.no-account.new-account" | translate}}</it-button>
  <it-button class="flex" size="small" color="quaternary">{{"features.home.no-account.create-guest-room" | translate}}</it-button>
</div>
