<form
    [formGroup]="createAccountForm"
    class="flex flex-col gap-4"
>
  <h3>{{'shared.forms.sign-up-modal.create-account.title' | translate }}</h3>
  <it-checkbox-heading
    id="register-checkbox-heading"
    [heading]="'shared.forms.sign-up-modal.create-account.want-to-register' | translate"
    formControlName="register"
  >
    <div content>
      {{'shared.forms.sign-up-modal.create-account.description' | translate }} 
    </div>
    <div 
        collapsible
        class="flex flex-col gap-4"
    >
        <it-input
            id="email"
            [label]="'shared.forms.sign-in-modal.email' | translate"
            formControlName="email"
            type="email"
        />
        <it-input 
            id="password"
            [label]="'shared.forms.sign-in-modal.password' | translate"
            formControlName="password"
            type="password"
        >
            {{ createAccountForm.controls['password'].value?.length + ' / 6 ' + ('shared.components.input.signs' | translate) }}
        </it-input>
    </div>
  </it-checkbox-heading>
</form>