<div
  class="flex grow items-center justify-center"
>
  <!-- ToDo: Create reusable loading screen logic -->
  <div class="flex flex-row items-center gap-3" *ngIf="!!(user$ | async)">
    <div id="image-container" class="rounded-full overflow-hidden drop-shadow-md" style="width: 3.25rem; height: 3.25rem;">
      <img id="rect-img" [src]="(user$ | async)!.profilePicture" />
    </div>
    <div class="flex flex-col">
      <p class="font-medium">{{ "shared.components.display.it-loading-screen.title" | translate }}</p>
      <p class="text-sm">{{ "shared.components.display.it-loading-screen.subtitle" | translate }}</p>
    </div>
  </div>
</div>