<ion-tabs>
  <ion-tab-bar slot="bottom">
    <it-nav-item
      #home
      [label]="'shared.components.navigation.home' | translate"
      icon="home"
      route="/home"
      [activeRoute]="router.routerState.snapshot.url"
      (click)="navigate(home.route)"
    />
    <it-nav-item
      #decks
      [label]="'shared.components.navigation.decks' | translate"
      icon="playing_cards"
      route="/test"
      [activeRoute]="router.routerState.snapshot.url"
      (click)="navigate(decks.route)"
    />
    <it-icon-button
      size="medium"
      (click)="navigate('room')"
      [iconSize]="1.625"
    >
      play_arrow
    </it-icon-button>
    <it-nav-item
      #store
      [label]="'shared.components.navigation.store' | translate"
      icon="search"
      route="/store"
      [activeRoute]="router.routerState.snapshot.url"
      (click)="navigate(store.route)"
    />
    <it-nav-item
      #profile
      [label]="'shared.components.navigation.profile' | translate"
      icon="person"
      route="/profile"
      [activeRoute]="router.routerState.snapshot.url"
      (click)="navigate(profile.route)"
    />
  </ion-tab-bar>
</ion-tabs>