<!-- size => 30 px : 24 px -->
<it-icon
  [color]="getColor()"
  [size]="size === 'large' ? 1.875 : 1.5"
  class="
    cursor-pointer
    rounded-full
    transition-all
    duration-150
    hover:bg-neutral-400/20
    active:bg-neutral-500/30
  "
  [ngClass]="{
    'p-2': size === 'small' || size === 'large', 
    'p-3': size === 'medium',
    'bg-primary-500 hover:brightness-90 active:brightness-75': type === 'primary',
    'bg-neutral-900 hover:brightness-125 active:brightness-100': type === 'secondary',
    'hover:bg-neutral-400/20 active:bg-neutral-500/30': type === 'tertiary'
  }"
  >
  <ng-content/>
</it-icon>