<button
  class="
    cursor-pointer
    rounded-full
    transition-all
    duration-150
    hover:bg-neutral-400/20
    active:bg-neutral-500/30
  "
  [ngClass]="{
    'bg-primary-500 hover:brightness-90 active:brightness-75': type === 'primary',
    'bg-neutral-900 hover:brightness-125 active:brightness-100': type === 'secondary',
    'hover:bg-neutral-400/20 active:bg-neutral-500/30': type === 'tertiary'
  }"
>
  <!-- size => 30 px : 24 px -->
  <it-icon
    [color]="getColor()"
    [size]="!!iconSize ? iconSize : 1.5"
    [ngClass]="{
      'p-1.5': size === 'small',
      'p-2': size === 'medium',
      'p-3': size === 'large'
    }"
  >
    <ng-content/>
  </it-icon>
</button>