<div class="flex flex-col gap-y-2">
  <div class="flex flex-row gap-x-2 items-center">
    <img id="rect-img" [src]="!!imageUrl ? imageUrl : 'assets/images/Icon.png'">
    <img   />
    <div class="flex flex-col gap-y-1">
      <h3 *ngIf="showHeading('h3')">{{ heading }}</h3>
      <h4 *ngIf="showHeading('h4')">{{ heading }}</h4>
      <p
        [ngClass]="{
          'text-xs': isSubheadingType('xs'),
          'text-sm': isSubheadingType('sm')
        }"
      >
        {{ subheading }}
      </p>
    </div>
  </div>
  <div *ngIf="detail" class="text-base">{{ detail }}</div>
</div>