<ion-content [fullscreen]="true">
  <div class="h-full w-full flex flex-col p-6 gap-4">
    <it-button-heading>
      {{'features.home.home' | translate}}
    </it-button-heading>
    <div
      *ngIf="!(isAuthenticated$ | async) || (isAuthenticated$ | async) && !(ownsRoom$ | async)"
      class="flex flex-col flex-grow gap-4 justify-center"
    >
      <no-account *ngIf="!(isAuthenticated$ | async)" ></no-account>
      <no-room *ngIf="(isAuthenticated$ | async) && !(ownsRoom$ | async)" ></no-room>
      <div
        *ngIf="!!(user$ | async)?.gameHistory && (user$ | async)!.gameHistory.length > 0"
        class="flex flex-col gap-4 items-start"
      >
        <h4>{{'features.home.last-games' | translate}}</h4>
        <div class="flex flex-col w-full gap-2">
          <game-history-entry *ngFor="let gameHistoryEntry of (user$ | async)!.gameHistory" [gameHistoryEntry]="gameHistoryEntry"/>
        </div>
      </div>
    </div>
  </div>
</ion-content>
