<div
    *ngIf="!!castedCard"
    class="flex flex-col gap-4 p-4 rounded-lg drop-shadow-card"
    [ngClass]="{'bg-blue-100': card.type === 3}"
>
    <h4 *ngIf="card.type === 3">{{ "features.room.game.card.topic-voting" | translate }}</h4>
    <p class="text-lg">{{ getCardText() }}</p>
    <it-accord
        [heading]="getResultsHeading()"
        icon="emoji_events"
        [selected]="true"
    >
        <!-- ToDo: Add max height and scrolling -->
        <div collapsible class="flex flex-col gap-2">
            
        </div>
    </it-accord>
</div>