<div
    *ngIf="!!castedCard"
    class="flex flex-col gap-4 p-4 rounded-lg drop-shadow-card"
    [ngClass]="{'bg-blue-100': card.type === 3}"
>
    <h4 *ngIf="card.type === 3">{{ "features.room.game.card.topic-voting" | translate }}</h4>
    <p class="text-lg">{{ getCardText() }}</p>
    <it-selection-list
        [singleSelect]="true"
        [required]="true"
        *ngIf="!!results"
        #resultSelectionList
    >
        <it-accord
            [heading]="getResultsHeading()"
            icon="emoji_events"
            [selected]="true"
            (selectionEmitter)="resultSelectionList.onSelectionChanged($event)"
        >
            <div collapsible class="flex flex-col gap-2 overflow-auto" style="max-height: 20vh;">
                <it-result
                    *ngFor="let result of results; index as i"
                    [result]="result"
                    [title]="getTopResultsCount() === 1  && i !== 0 || getTopResultsCount() !== 1 ? getSubject(result.subjectId)?.title : undefined"
                    [card]="card"
                    [skipped]="result.subjectId === pollCardSkipValue"
                />
            </div>
        </it-accord>
        <it-accord
            [heading]="'features.room.game.game-cards.sips' | translate"
            icon="water_loss"
            *ngIf="gameSettings?.drinkingGame"
            (selectionEmitter)="resultSelectionList.onSelectionChanged($event)"
        >
            <div
                default
                class="flex flex-row gap-2 w-full justify-between"
            >
                <it-sip-result
                    *ngFor="let result of defaultVisibleSipResults"
                    [sipResult]="result"
                    [profilePicture]="getPlayerForSipResult(result)!.profilePicture"
                />
                <div style="width: 3.25rem; height: 3.25rem;" *ngFor="let spaceUpDiv of getMissingRowElements(defaultVisibleSipResults)"></div>
            </div>
            <div
                collapsible
                class="flex flex-row gap-2 w-full justify-between"
            >
                <it-sip-result
                    *ngFor="let result of hiddenSipResults"
                    [sipResult]="result"
                    [profilePicture]="getPlayerForSipResult(result)!.profilePicture"
                />
            </div>
        </it-accord>
    </it-selection-list>
    <div class="flex flex-row gap-4" *ngIf="isUserRoomAdmin()">
        <!-- <it-button class="flex grow basis-0" color="red" type="button" *ngIf="displayPayToDisplay()" (click)="payToDisplay()">
            {{ 'features.room.game.game-cards.card-stats.player-voting-stats.pay-to-display' | translate }}
        </it-button> -->
        <it-button class="flex grow basis-0" color="blue" type="button" *ngIf="isUserRoomAdmin()" (click)="startNextRound()">
            {{ 'actions.continue' | translate }}
        </it-button>
    </div>
</div>