<form
  *ngIf="round !== undefined"
  class="w-full flex flex-col gap-4"
  [formGroup]="playerVotingForm"
  (submit)="submit()"
>
  <div class="flex flex-col gap-2 bg-red-100 p-4 rounded-lg drop-shadow-card">
    <h4>{{ "features.room.game.card.playerVoting" | translate }}</h4>
    <p class="text-lg">{{ getCardText() }}</p>
    <div class="flex flex-col gap-4">
      <it-select
        id="votedPlayerId"
        [label]="'features.room.game.game-cards.forms.answer' | translate "
        formControlName="votedPlayerId"
        customColor="red"
      >
        <option *ngFor="let player of players" [value]="player.id">
          {{ player.username }}
        </option>
      </it-select>
      <div class="flex flex-row gap-4">
        <it-button class="flex grow basis-0" [size]="'small'" color="secondary" [disabled]="userResponded()" type="button" (click)="submit(true)">
          <it-icon color="text-neutral-100">skip_next</it-icon>
        </it-button>
        <it-button class="flex grow basis-0" [size]="'small'" color="red" [disabled]="!playerVotingForm.valid || userResponded()" type="submit">
          <it-icon color="text-neutral-100">check</it-icon>
        </it-button>
      </div>
    </div>
  </div>
  <it-button class="flex grow" color="red" *ngIf="userResponded() && isUserRoomAdmin()" type="button" (click)="processRound()">
    {{ 'actions.continue' | translate }} {{(!roomSettings.singleDeviceMode) ? getRulesReadInfo() : null}}
  </it-button>
</form>
