<div
  *ngIf="staticRoundData && !!staticRoundData.round && this.card"
  [@slideToggle]="{
    value: getRoundState(),
    params: {
      leaveEnd: '-150%',
      enterStart: '150%'
    }
  }"
  class="flex grow items-center justify-center relative"
  >
  @switch(getRoundState()) {
    @case (getCardState()) {
      <card
        class="absolute"
        (click)="continue()"
        (onSwipe)="swipe($event)"
        [card]="deck.cards[staticRoundData.round.cardIndex]"
        [playerIds]="staticRoundData.round.playerIds"
        [deckname]="deck.name"
        [customTitle]="getCustomCardTitle()"
        [customColor]="deck.styleSettings?.cardOverwriteColor"
        [hideDeckName]="deck.styleSettings?.hideDeckNameOnCard"
        [isMarkDown]="(roomSettings$ | async)!.singleDeviceMode"
      />
    }
    @case (getHelperCardState()) {
      <card
        class="absolute"
        (click)="continue()"
        (onSwipe)="swipe($event)"
        [card]="deck.cards[staticRoundData.round.cardIndex]"
        [playerIds]="staticRoundData.round.playerIds"
        [deckname]="deck.name"
        [customTitle]="getCustomCardTitle()"
        [customColor]="deck.styleSettings?.cardOverwriteColor"
        [hideDeckName]="deck.styleSettings?.hideDeckNameOnCard"
        [isMarkDown]="(roomSettings$ | async)!.singleDeviceMode"
      />
    }
    @case (getFormState()) {
      <card-form
        class="absolute w-full"
      />
    }
    @case (getStatsState()) {
      <card-stats
        class="w-full"
      ></card-stats>
    }
  }
</div>
