<div
  [@slideToggle]="{
    value: getRoundState(),
    params: {
      leaveEnd: '-150%',
      enterStart: '150%'
    }
  }"
  class="flex grow items-center justify-center relative"
>
  @switch(getRoundState()) {
    @case (getCardState()) {
      <card
        class="absolute"
        (click)="continue()"
        [card]="deck.cards[staticRoundData.round!.cardIndex]"
        [playerIds]="staticRoundData.round!.playerIds"
        [deckname]="deck.name"
      />
    }
    @case (getFormState()) {
      <card-form
        class="absolute w-full"
      />
    }
    @case (getStatsState()) {
      <card-stats
        class="w-full"
      ></card-stats>
    }
  }
</div>
