<div class="flex flex-col flex-grow">
  <div
    class="flex flex-row justify-between pb-4"
  >
  <div
    *ngFor="let tab of tabs"
  >
    <button
      *ngIf="!tab.hidden"
      (click)="selectTab(tab)"
    >
      <h4
        [ngClass]="{'border-transparent': !tab.active}"
        class="border-b-2 border-neutral-950 transition-all"
      >
        {{ tab.title }}
      </h4>
    </button>
  </div>
  </div>
  <ng-content class="h-full"></ng-content>
  <div *ngIf="!hideControls" class="flex gap-x-2 pt-4">
    <it-button class="flex flex-grow" color="secondary" (click)="previousTab()">
      <it-icon color="text-white">{{ isFirstTab() ? "close" : "keyboard_arrow_left"}}</it-icon>
    </it-button>
    <it-button class="flex flex-grow" (click)="finishTabs()" [disabled]="finishControlDisabled">
      <it-icon>play_arrow</it-icon>
    </it-button>
    <it-button *ngIf="tabs.length > 1" class="flex flex-grow" (click)="nextTab()" [disabled]="advanceControlDisabled ">
      <it-icon>keyboard_arrow_right</it-icon>
    </it-button>
  </div>
</div>