<div>
  <div
    class="flex flex-row justify-between"
  >
    <div
      *ngFor="let tab of tabs"
    >
      <button
        (click)="selectTab(tab)"
        [ngClass]="{'border-opacity-100': tab.active === true}"
        class="border-b-2 border-neutral-950 border-opacity-0 transition-all duration-75 ease-out"
      >
        <h4>{{ tab.title }}</h4>
      </button>
    </div>
  </div>
  <ng-content></ng-content>
  <div *ngIf="!hideControls" class="flex space-x-2">
    <it-button color="secondary" class="flex flex-grow" (click)="previousTab()">
      
      <it-icon color="text-white">{{ isFirstTab() ? "close" : "keyboard_arrow_left"}}</it-icon>
    </it-button>
    <it-button class="flex flex-grow" (click)="finishTabs()" [disabled]="!advanceControlsEnabled">
      <it-icon>play_arrow</it-icon>
    </it-button>
    <it-button class="flex flex-grow" (click)="nextTab()" [disabled]="!advanceControlsEnabled">
      <it-icon>keyboard_arrow_right</it-icon>
    </it-button>
  </div>
</div>