<it-tab-group (onStatusChange)="onNavigation($event)" class="flex flex-grow p-6">
  <it-tab [title]="'features.room.start-game-modal.deck' | translate">
    <div class="h-full flex flex-col">
      <p>{{ 'features.room.start-game-modal.deck-subtitle' | translate }}</p>
      <div class="flex flex-col flex-grow justify-center">
        <it-selection-list #selectionList [initialSelection]="0" [required]="true" class="h-min">
          <it-deck *ngFor="let deck of decks"
            [title]="deck.name"
            [description]="deck.description"
            [cardCount]="deck.cards.length"
            [icon]="deck.icon"
            [flags]="['Good Deck', 'All Cards']"
            (selectionEmitter)="selectionList.onSelectionChanged($event)"
            (selectionEmitter)="onDeckSelection($event)"
          />
        </it-selection-list>
      </div>
    </div>
  </it-tab>
  <!-- <it-tab [title]="'features.room.start-game-modal.settings' | translate"></it-tab>
  <it-tab [title]="'features.room.start-game-modal.types' | translate"></it-tab> -->
</it-tab-group>