<it-tab-group 
  (onStatusChange)="onSubmitOrCancel($event)"
  (onTabChange)="onNavigation($event)"
  [advanceControlDisabled]="!gameSettingsForm.valid && currentTab === 'Settings'"
  [finishControlDisabled]="!gameSettingsForm.valid"
  class="flex flex-grow p-6"
>
  <!-- ToDo: add card number somewhere when changing game settings. Maybe add deck component at top -->
  <it-tab [title]="'features.room.start-game-modal.deck' | translate">
    <div class="h-full flex flex-col">
      <p>{{ 'features.room.start-game-modal.deck-subtitle' | translate }}</p>
      <div class="flex flex-col flex-grow justify-center">
        <it-selection-list #selectionList [initialSelection]="0" [required]="true" [singleSelect]="true" class="h-min overflow-scroll p-3" style="max-height: 60vh;">
          <it-deck *ngFor="let deck of decks"
            [deck]="deck"
            [title]="deck.name"
            (selectionEmitter)="selectionList.onSelectionChanged($event)"
            (selectionEmitter)="onDeckSelection($event)"
          />
        </it-selection-list>
      </div>
    </div>
  </it-tab>
  <it-tab [title]="'features.room.start-game-modal.settings.title' | translate" [hidden]="areSettingsPreset()">
    <div class="h-full flex flex-col" *ngIf="showSettings"> <!-- Hide Settings in the beginning so accord animation works -->
      <p>{{ 'features.room.start-game-modal.settings.subtitle' | translate }}</p>
      <div class="flex flex-col flex-grow justify-center">
        <form
          [formGroup]="gameSettingsForm"
          class="flex flex-col gap-2"
        >
          <it-checkbox
            id="drinkingGame"
            [label]="'features.room.settings-bottom-sheet.drinking-game' | translate"
            formControlName="drinkingGame"
          />
          <it-checkbox-accord
            *ngIf="!specificPersonModeRequired() && specificPersonModeAvailable()"
            id="specificPlayerActivated"
            [label]="'features.room.settings-bottom-sheet.specificPlayerActivated' | translate"
            formControlName="specificPlayerActivated"
          >
            <it-select
              id="specificPlayerId"
              [label]="'features.room.settings-bottom-sheet.specific-player' | translate"
              formControlName="specificPlayerId"
            >
              <option *ngFor="let player of players" [value]="player.id">
                {{ player.username }}
              </option>
            </it-select>
          </it-checkbox-accord>
          <it-select 
            id="specificPlayerId"
            [label]="'features.room.settings-bottom-sheet.specific-player' | translate"
            formControlName="specificPlayerId"
            *ngIf="specificPersonModeRequired()"
          >
            <option *ngFor="let player of players" [value]="player.id">
              {{ player.username }}
            </option>
          </it-select>
        </form>
      </div>
    </div>
  </it-tab>
  <!-- <it-tab [title]="'features.room.start-game-modal.types' | translate"></it-tab> -->
</it-tab-group>