<form
    [formGroup]="loginForm"
    class="h-full flex flex-col p-6 justify-between"
    (submit)="signInWithEmail()"
>
    <it-icon-button color="tertiary" size="large" (click)="close()">close</it-icon-button>
    <div class="flex flex-col gap-4">
        <h3>{{'actions.signIn' | translate}}</h3>
        <it-input
            id="email"
            [label]="'shared.components.forms.it-sign-in-modal.email' | translate"
            formControlName="email"
            type="email"
        />
        <div class="flex flex-col gap-2">
            <it-input 
                id="password"
                [label]="'shared.components.forms.it-sign-in-modal.password' | translate"
                formControlName="password"
                type="password"
            />
            <p class="text-xs cursor-pointer" (click)="forgotPassword()">
                {{"shared.components.forms.it-sign-in-modal.forgot-password" | translate}}
            </p>
        </div>
    </div>
    <it-button 
        class="flex"
        [disabled]="!loginForm.valid"
        [indicateLoading]="true"
        type="submit"
    >
        {{'actions.signIn' | translate}}
    </it-button>
</form>