@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue-900: theme(colors.blue.900);
    --blue-800: theme(colors.blue.800);
    --blue-700: theme(colors.blue.700);
    --blue-600: theme(colors.blue.600);
    --blue-500: theme(colors.blue.500);
    --blue-400: theme(colors.blue.400);
    --blue-300: theme(colors.blue.300);
    --blue-200: theme(colors.blue.200);
    --blue-100: theme(colors.blue.100);
    --blue-000: theme(colors.blue.50);
    
    --red-900: theme(colors.red.900);
    --red-800: theme(colors.red.800);
    --red-700: theme(colors.red.700);
    --red-600: theme(colors.red.600);
    --red-500: theme(colors.red.500);
    --red-400: theme(colors.red.400);
    --red-300: theme(colors.red.300);
    --red-200: theme(colors.red.200);
    --red-100: theme(colors.red.100);
    --red-000: theme(colors.red.50);
    
    --emerald-900: theme(colors.emerald.900);
    --emerald-800: theme(colors.emerald.800);
    --emerald-700: theme(colors.emerald.700);
    --emerald-600: theme(colors.emerald.600);
    --emerald-500: theme(colors.emerald.500);
    --emerald-400: theme(colors.emerald.400);
    --emerald-300: theme(colors.emerald.300);
    --emerald-200: theme(colors.emerald.200);
    --emerald-100: theme(colors.emerald.100);
    --emerald-000: theme(colors.emerald.50);
    
    --violet-900: theme(colors.violet.900);
    --violet-800: theme(colors.violet.800);
    --violet-700: theme(colors.violet.700);
    --violet-600: theme(colors.violet.600);
    --violet-500: theme(colors.violet.500);
    --violet-400: theme(colors.violet.400);
    --violet-300: theme(colors.violet.300);
    --violet-200: theme(colors.violet.200);
    --violet-100: theme(colors.violet.100);
    --violet-000: theme(colors.violet.50);
    
    --pink-900: theme(colors.pink.900);
    --pink-800: theme(colors.pink.800);
    --pink-700: theme(colors.pink.700);
    --pink-600: theme(colors.pink.600);
    --pink-500: theme(colors.pink.500);
    --pink-400: theme(colors.pink.400);
    --pink-300: theme(colors.pink.300);
    --pink-200: theme(colors.pink.200);
    --pink-100: theme(colors.pink.100);
    --pink-000: theme(colors.pink.50);
    
    --yellow-900: theme(colors.yellow.900);
    --yellow-800: theme(colors.yellow.800);
    --yellow-700: theme(colors.yellow.700);
    --yellow-600: theme(colors.yellow.600);
    --yellow-500: theme(colors.yellow.500);
    --yellow-400: theme(colors.yellow.400);
    --yellow-300: theme(colors.yellow.300);
    --yellow-200: theme(colors.yellow.200);
    --yellow-100: theme(colors.yellow.100);
    --yellow-000: theme(colors.yellow.50);
    
    --amber-900: theme(colors.amber.900);
    --amber-800: theme(colors.amber.800);
    --amber-700: theme(colors.amber.700);
    --amber-600: theme(colors.amber.600);
    --amber-500: theme(colors.amber.500);
    --amber-400: theme(colors.amber.400);
    --amber-300: theme(colors.amber.300);
    --amber-200: theme(colors.amber.200);
    --amber-100: theme(colors.amber.100);
    --amber-000: theme(colors.amber.50);

    --primary-900: 255 161 5;
    --primary-700: 255 174 10;
    --primary-600: 250 183 8;
    --primary-500: 255 195 17;
    --primary-300: 255 221 122;
    --primary-200: 255 231 159;
    --primary-100: 254 246 223;
    --primary-000: 249 248 241;

    --neutral-950: 30 32 37;
    --neutral-900: 42 45 52;
    --neutral-800: 64 66 70;
    --neutral-700: 9 9 10;
    --neutral-600: 124 125 128;
    --neutral-500: 151 152 153;
    --neutral-400: 186 186 186;
    --neutral-300: 226 226 226;
    --neutral-200: 247 247 247;

    --ion-background-color: theme("colors.primary.100");
}

* {
    font-family: 'Inter';
    @apply text-neutral-950;
}

heading {
    font-family: 'Lato';
    line-height: 125%;
    font-weight: bold;
}

h1 {
    @extend heading;
    font-size: 40px;
}

h2 {
    @extend heading;
    font-size: 32px;
}

h3 {
    @extend heading;
    font-size: 24px;
}

h4 {
    @extend heading;
    font-size: 18px;
}

h5 {
    @extend heading;
    font-size: 14px;
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

// remove blue highlight when clicking on mobile
input,
textarea,
button,
select,
it-icon,
it-nav-item,
it-checkbox-heading,
a {
    -webkit-tap-highlight-color: transparent;
}
