<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="p-10 flex flex-col space-y-4" #colorForm="ngForm" (ngSubmit)="setColor(colorForm.value['color'])">
    <select name="color" ngModel required #colorCtrl="ngModel">
      <option *ngFor="let color of colors">{{color}}</option>
    </select>
    
    <it-input></it-input>

    <it-button class="flex" color="primary" size="big">
      Change Color
    </it-button>
    
    <it-button class="flex" color="tertiary" size="big">
      Tertiary
    </it-button>
    
    <it-button class="flex" color="quaternary" size="big">
      Quaternary
    </it-button>
    
    <it-button class="flex" color="red" size="big">
      Button
    </it-button>
    
    <it-button class="flex" color="blue" size="big">
      Button
    </it-button>
    
    <it-button class="flex" color="orange" size="big">
      Button
    </it-button>
    
    <it-button class="flex" color="green" size="big">
      Button
    </it-button>
  </form>
</ion-content>
