<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formGroup" class="p-10 flex flex-col space-y-4" (ngSubmit)="setColor(formGroup.controls['color']!.value!)">    
    <it-select
      label="Color"
      name="color"
      id="color"
      formControlName="color"
    >
      <option *ngFor="let color of colors">{{color}}</option>
    </it-select>

    <it-input
      id="name"
      label="Name"
      formControlName="name"
      icon="face"
    />

    <it-input
      id="number"
      label="Phone Number"
      formControlName="number"
      icon="phone"
    />

    <it-input
      id="password"
      label="Password"
      formControlName="password"
      type="password"
    >
      {{ formGroup.controls['password'].value?.length + ' / 10 Signs' }}
    </it-input>

    <it-text-area
      id="description"
      label="Description"
      formControlName="description"
    >
    </it-text-area>

    <it-button class="flex" color="primary" size="big" [disabled]="!formGroup.valid">
      Submit
    </it-button>

    <it-icon-button type="tertiary">
      playing_cards
    </it-icon-button>

    <it-icon-button type="secondary">
      playing_cards
    </it-icon-button>

    <it-icon-button>
      playing_cards
    </it-icon-button>

    <it-icon-button
      size="big"
    >
      playing_cards
    </it-icon-button>

    <it-icon>
      playing_cards
    </it-icon>

    <it-button class="flex" color="primary" size="big">
      Change Color
    </it-button>
    
    <it-button class="flex" color="secondary" size="big" (click)="test()">
      Secondary
    </it-button>
    
    <it-button class="flex" color="tertiary" size="big">
      Tertiary
    </it-button>
    
    <it-button class="flex" color="quaternary" size="big">
      Quaternary
    </it-button>
    
    <it-button class="flex" color="red" size="big">
      Button
    </it-button>
    
    <it-button class="flex" color="blue" size="big">
      Button
    </it-button>
    
    <it-button class="flex" color="orange" size="big">
      Button
    </it-button>
    
    <it-button class="flex" color="green" size="big">
      Button
    </it-button>
  </form>
</ion-content>
