<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Aa — Find the stuff you’ll love.</h1>
  <h2>Aa — Find the stuff you’ll love.</h2>
  <h3>Aa — Find the stuff you’ll love.</h3>
  <h4>Aa — Find the stuff you’ll love.</h4>
  <h5>Aa — Find the stuff you’ll love.</h5>

  <it-button type="primary" size="big">
    oida Heast hawara
  </it-button>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  
</ion-content>
