<div
    class="h-full flex flex-col p-6 justify-between"
>
    <it-icon-button color="tertiary" size="large" (click)="close()">close</it-icon-button>
    <it-profile-editor
        [isRegistered]="true"
        [profileEditorFormData]="profileFormData"
        (profileEditorFormChanged)="setProfileFormData($event)"
    />
    <it-button
        class="flex"
        [disabled]="!profileFormData.valid"
        [indicateLoading]="true"
        (click)="submit()"
    >
        {{'actions.submit' | translate}}
    </it-button>
</div>