<div
  class="rounded-xl flex flex-col h-full"
  style="border-width: 16px;"
  [ngClass]="{
    'border-it_yellow-500 bg-it_yellow-500': cardType <= 1,
    'border-red-500 bg-red-500': cardType === 2,
  }"
>
  <p 
    class="rounded-t-xl text-2xl font-bold py-2 px-3"
    [ngClass]="{
      'bg-it_yellow-200': cardType <= 1,
      'bg-red-200': cardType === 2,
    }"
  >
    {{ getCardTitle() }}
  </p>
  <div class="rounded-b-xl flex grow flex-col gap-1 p-2 bg-it_yellow-0">
    <div class="flex grow items-center text-xl font-semibold">
      <div
        *ngIf="cardType === 0"
        id="markdown"
        [innerHTML]="(text | markdown)"
      >
      </div>
      <div
        *ngIf="cardType !== 0"
      >
        {{ text }}
      </div>
    </div>
    <div class="text-end text-sm">
      {{ deckname }}
    </div>
  </div>
</div>